@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WonderApp API</h1>
    <p class="lead">This site provides info on the Web APIs used by WonderApp to communicate between server and device.</p>
    <p><a href="@Url.Action("Index","Help")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
