@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WonderApp</h1>
    <h2>“The ultimate discovery application for the ‘get out there’ mobile generation”</h2>
    <p class="lead">WonderApp is a mobile application which enables consumers to discover things (events, dining, fashion) to spend their disposable income on, whilst on the move or during downtime.
</p>
    <p><a href="@Url.Action("Index","Deal")" class="btn btn-primary btn-lg">See the deals &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Welcome to the Content Management System (CMS) for WonderApp. This will allow you to create deals.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create","Deal")">Create a deal &raquo;</a></p>
    </div>
</div>